@import "tailwindcss";

@theme {
    --font-frank: "Libre Franklin", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --animate-shake: shake 0.2s ease;
    --animate-rotate: rotate 0.5s ease;
    --animate-vibrate: vibrate 0.5s ease;
    --animate-bouncy: bouncy 0.5s ease;

    @keyframes shake {
        0% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(360deg);
        }
    }

    @keyframes vibrate {
        0% {
            transform: translate(0px);
        }

        10% {
            transform: translate(-2px);
        }

        20% {
            transform: translate(2px);
        }

        30% {
            transform: translate(-2px);
        }

        40% {
            transform: translate(2px);
        }

        50% {
            transform: translate(0px);
        }

        60% {
            transform: translate(-2px);
        }

        70% {
            transform: translate(2px);
        }

        80% {
            transform: translate(-2px);
        }

        90% {
            transform: translate(2px);
        }

        100% {
            transform: translate(0px);
        }
    }
    @keyframes bouncy {
        0%{
            transform: translate(0px, 0px);
        }
        25%{
            transform: translate(0px, -40px);
        }
        75%{
            transform: translate(0px, 40px);
        }
        100%{
            transform: translate(0px, 0px);
        }
    }
}